<section class="c-cards">
  <h2 class="o-screen-reader">Cards</h2>
  <ul class="o-wrapper o-cols o-cols o-cols--middle o-cols--gutter-4">
    each i in new Array(3)
      <li class="o-cols__col o-cols__col--4">
        <article class="c-card">
          <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnoVHpMdFo2SG9ldW8" alt=""/>
          <div class="c-card__body">
            <h3>Card title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <a class="c-btn c-btn--outline" href="#!">Leer Más</a>
          </div>
        </article>
      </li>
  </ul>
</section>
