<section class="u-py5">
  <h2 class="u-hide">Cards</h2>
  <div class="o-wrapper o-wrapper--4">
    <ul class="o-grid o-grid--middle o-grid--gutter-4 u-list-reset">
      each i in new Array(3)
        <li class="o-grid__item u-12/12 u-6/12@tablet u-4/12@laptop">
          <article class="c-card">
            <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnoVHpMdFo2SG9ldW8" alt=""/>
            <div class="c-card__body">
              <h3>Card title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <a class="o-btn c-btn c-btn--outline" href="#!">Leer Más</a>
            </div>
          </article>
        </li>
    </ul>
  </div>
</section>
