<section class="js-carousel swiper-container">
  <h2 class="u-hide">Noticias</h2>
  <ul class="swiper-wrapper u-list-reset">
    each i in new Array(3)
      <li class="swiper-slide c-slide">
        <article>
          <div class="c-slide__content">
            <h3 class="u-fz-h00">Acondicionamiento del lago Yarinacocha - Zona Centro</h3>
            <p><a class="o-btn c-btn c-btn--primary" href="#!">Leer Más</a></p>
          </div>
          <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnoVHFnbE1vLVNIZDA" alt="Acondicionamiento del lago Yarinacocha"/>
        </article>
      </li>
  </ul>
</section>
