<section class="js-carousel swiper-container">
  <h2 class="o-screen-reader">Noticias</h2>
  <ul class="swiper-wrapper">
    each i in new Array(3)
      <li class="swiper-slide">
        <article>
          <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnoVHFnbE1vLVNIZDA" alt="Acondicionamiento del lago Yarinacocha"/>
          <div class="o-wrapper">
            <h3 class="u-fz-h00">Acondicionamiento del lago Yarinacocha - Zona Centro</h3>
            <p><a class="c-btn c-btn--primary" href="#!">Leer Más</a></p>
          </div>
        </article>
      </li>
  </ul>
</section>
