<footer class="c-footer">
  <div class="c-footer__cta">
    <p><span class="u-fz-h1">Infrastructura para el turismo</span> <a class="o-btn c-btn c-btn--outline u-fz-lg" href="#!">Ver todos los proyectos</a></p>
  </div>
  <nav class="c-footer__nav">
    <div class="o-wrapper c-footer__nav-wrapper">
      <div class="c-footer__nav-lists">
        <div class="c-footer__nav-list">
          <h4>Enlaces externos</h4>
          <ul class="u-list-reset">
            <li><a href="#!">Lorem impsum dolore</a></li>
            <li><a href="#!">Lorem impsum dolore</a></li>
            <li><a href="#!">Lorem impsum dolore</a></li>
          </ul>
        </div>
        <div class="c-footer__nav-list">
          <h4>Enlaces externos</h4>
          <ul class="u-list-reset">
            <li><a href="#!">Lorem impsum dolore</a></li>
            <li><a href="#!">Lorem impsum dolore</a></li>
            <li><a href="#!">Lorem impsum dolore</a></li>
          </ul>
        </div>
      </div>
      <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3Jnoa2gteDJJZlZJRHc" alt="Logo de Mincetur"/>
    </div>
  </nav>
  <div class="c-footer__contact">
    <p class="o-wrapper">
      <span>Av. José Barrenechea N° 290, San Isidro, Lima - Perú.</span>
      <span>Central Teléfonica: (051) 4119500</span>
    </p>
  </div>
</footer>
