<header class="c-header">
  <div class="o-wrapper c-header__wrapper">
    <h1 class="u-hide">Copesco</h1>
    <figure class="c-header__logo">
      <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnodWpkZ1MwenAyaHM" alt="Logo de Copesco"/>
      <figcaption><span>Infrastructura</span> para el turismo</figcaption>
    </figure>
    <div class="u-flex u-row u-items-center">
      <nav class="c-header__nav">
        <ul class="u-list-reset">
          <li>
            <a class="o-btn" href="#!">Copesco</a>
          </li>
          <li>
            <a class="o-btn" href="#!">Noticias</a>
          </li>
          <li>
            <a class="o-btn" href="#!">Proyectos</a>
          </li>
          <li>
            <a class="o-btn" href="#!">Obras</a>
          </li>
        </ul>
      </nav>
      //- <input type="search"/>
    </div>
  </div>
</header>
