extends layout.pug

block content
  include header.pug
  include carousel.pug
  include cards.pug
  include footer.pug

block body-bottom
  <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');</style>
