<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Copesco</title>
  </head>
  <body>
    <div id="root">
      block content
    </div>
    block body-bottom
  </body>
</html>
